@{
    Layout = "_LayoutAdmin";
}

<form asp-action="CrearUsuario" method="post">
    <input type="number" name="UsuarioId" value="" placeholder="UsuarioId" />
   <input type="text" name="Nombre" value="" placeholder="Nombre" />
    <input type="email" name="Correo" value="" placeholder="Correo" />
    <input type="text" name="Contrasena" value="" placeholder="Contrasena" />
    <select name="Estado">
        <option value="true">Activo</option>
    </select>
    <input type="number" name="Telefono" value="" placeholder="Telefono" />
   <button type="submit" class="btn btn-success">Enviar</button>

</form>