@model Proyecto_TiendaElectronica.Models.Usuario;

@{
    Layout = "_LayoutAdmin";
}

<div class="visually-hidden" id="error">
    @ViewBag.Error
</div>



<section class="get-in-touch">
    <h1 class="title">Nuevo Usuario</h1>
    <form asp-action="CrearUsuario" class="contact-form row">
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="UsuarioId" class="input-text js-input" type="number">
                <label class="label" asp-for="UsuarioId">Cédula</label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="UsuarioId"></span>

            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Nombre" class="input-text js-input" type="text">
                <label class="label" asp-for="Nombre"></label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Nombre"></span>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Correo" class="input-text js-input" type="email">
                <label class="label" asp-for="Correo"></label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Correo"></span>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Contrasena" class="input-text js-input" type="text">
                <label class="label" asp-for="Contrasena">Contraseña</label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Contrasena"></span>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="ConfirmarContrasena" class="input-text js-input" type="text">
                <label class="label" asp-for="ConfirmarContrasena">Confirmar Contraseña</label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="ConfirmarContrasena"></span>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <select asp-for="Rol" class="select-text js-input ">
                    <option value="Administrador">Administrador</option>
                    <option value="Usuario">Usuario</option>
                </select>
                <label class="label" asp-for="Rol"></label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Rol"></span>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Telefono" class="input-text js-input" type="number">
                <label class="label" asp-for="Telefono"></label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Telefono"></span>
            </div>
        </div>

        <div class="col-lg-6">

            <div class="form-field">
                <select asp-for="Estado" class="select-text js-input ">
                    <option value="@true">Activo</option>
                    <option value="@false">Inactivo</option>
                </select>
                <label class="label" asp-for="Estado"></label>
            </div>
            <div class="text-center text-break">
                <span class="error-form" asp-validation-for="Estado"></span>
            </div>
        </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Enviar">
        </div>
    </form>
</section>



@section scripts {
    <partial name="_validationscriptspartial" />
}