@{
    Layout = "_LayoutAdmin";
}
@model Proyecto_TiendaElectronica.Models.Articulo

<div class="container">
    <section class="get-in-touch">
        <h1 class="title">Nuevo Articulo</h1>
        <form asp-action="CrearArticulo" enctype="multipart/form-data" class="contact-form row">
            <div class="form-field col-lg-6">
                <input id="Nombre" name="Nombre" class="input-text js-input" type="text" required>
                <label class="label" for="Nombre">Nombre</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="Precio" name="Precio" class="input-text js-input" type="number" required>
                <label class="label" for="Precio">Precio</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="Cantidad" name="Cantidad" class="input-text js-input" type="number" required>
                <label class="label" for="Cantidad">Cantidad</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="Marca" name="Marca" class="input-text js-input" type="text" required>
                <label class="label" for="Marca">Marca</label>
            </div>
            <div class="form-field col-lg-6">
                <input id="Descripcion" name="Descripcion" class="input-text js-input" type="text" required>
                <label class="label" for="Descripcion">Descripcion</label>
            </div>
            <div class="form-field col-lg-6">
                <label class="label" for="CategoriaId">Categoría</label>
                <select id="CategoriaId" name="idCategoria" class="input-text js-input" required>
                    <option value=""></option>
                    @if (ViewBag.Categorias != null)
                    {
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.Value">@categoria.Text</option>
                        }
                    }
                    else
                    {
                        <option value="">No hay categorías disponibles</option>
                    }
                </select>
            </div>

            <div class="form-field col-lg-4">
                <label class="label-file" for="imagen1">Seleccionar Imagen 1</label>
                <input type="file" id="imagen1" name="Imagen1" accept="image/*" class="input-file js-input" required>
                <img id="preview1" class="img-preview" />
            </div>
            <div class="form-field col-lg-4">
                <label class="label-file" for="imagen2">Seleccionar Imagen 2</label>
                <input type="file" id="imagen2" name="Imagen2" accept="image/*" class="input-file js-input" required>
                <img id="preview2" class="img-preview" />
            </div>
            <div class="form-field col-lg-4">
                <label class="label-file" for="imagen3">Seleccionar Imagen 3</label>
                <input type="file" id="imagen3" name="Imagen3" accept="image/*" class="input-file js-input" required>
                <img id="preview3" class="img-preview" />
            </div>
            <div class="form-field col-lg-12">
                <input class="submit-btn" type="submit" value="Submit">
            </div>
        </form>
    </section>
</div>

<script>
    document.getElementById('imagen1').addEventListener('change', function (event) {
        displayImagePreview(event, 'preview1');
    });

    document.getElementById('imagen2').addEventListener('change', function (event) {
        displayImagePreview(event, 'preview2');
    });

    document.getElementById('imagen3').addEventListener('change', function (event) {
        displayImagePreview(event, 'preview3');
    });

    function displayImagePreview(event, previewId) {
        const input = event.target;
        const file = input.files[0];
        const preview = document.getElementById(previewId);

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    }
</script>
