@model Proyecto_TiendaElectronica.Models.Articulo

@{
    Layout = "_LayoutAdmin";
}

<section class="get-in-touch">
    <h1 class="title">Información del Articulo</h1>
    <div class="contact-form row">
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="Nombre" class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Nombre">Nombre</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="Descripcion" class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Descripcion">Descripcion</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="Precio" class="input-text js-input" type="number" readonly>
                <label class="label" asp-for="Precio">Precio</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="Marca" class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Marca">Marca</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="Cantidad" class="input-text js-input" type="number" readonly>
                <label class="label" asp-for="Cantidad">Cantidad</label>
            </div>
        </div>
        <div class="col-lg-12">
            <h2>Imágenes</h2>
            <div class="form-field">
                <label class="label">Imagen 1</label>
                <img src="@(Model.Imagen?.Imagen1 != null ? $"data:image;base64,{Convert.ToBase64String(Model.Imagen.Imagen1)}" : Url.Content("~/images/no-image.png"))" class="img-thumbnail" />
            </div>
            <div class="form-field">
                <label class="label">Imagen 2</label>
                <img src="@(Model.Imagen?.Imagen2 != null ? $"data:image;base64,{Convert.ToBase64String(Model.Imagen.Imagen2)}" : Url.Content("~/images/no-image.png"))" class="img-thumbnail" />
            </div>
            <div class="form-field">
                <label class="label">Imagen 3</label>
                <img src="@(Model.Imagen?.Imagen3 != null ? $"data:image;base64,{Convert.ToBase64String(Model.Imagen.Imagen3)}" : Url.Content("~/images/no-image.png"))" class="img-thumbnail" />
            </div>
        </div>
    </div>
</section>
