@model Proyecto_TiendaElectronica.Models.Usuario;

@{
    Layout = "_LayoutAdmin";
}

<section class="get-in-touch">
    <h1 class="title">Información del Usuario</h1>
    <div class="contact-form row">
        <div class="col-lg-6">
            <div class="form-field">
                <input asp-for="UsuarioId" class="input-text js-input" type="number" readonly>
                <label class="label" asp-for="UsuarioId">Cédula</label>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Nombre" class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Nombre"></label>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Correo" class="input-text js-input" type="email" readonly>
                <label class="label" asp-for="Correo"></label>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Contrasena" class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Contrasena">Contraseña</label>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input asp-for="Telefono" class="input-text js-input" type="number" readonly>
                <label class="label" asp-for="Telefono"></label>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-field">
                <input value=" @(Model.Estado ? "Activo": "Inactivo") " class="input-text js-input" type="text" readonly>
                <label class="label" asp-for="Estado"></label>
            </div>
        </div>
        <div class="form-field col-lg-12">
            <a class="submit-btn text-center" href="@Url.Action("EditarUsuario", new{id = Model.UsuarioId})">Editar</a>
            
        </div>
</section>
