
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_TiendaElectronica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_TiendaElectronica.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
</head>
<body>
    <header class="header mb-4">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mx-5 ">
            <div class="container">
                <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index">Navatech</a>
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropDown">
                            <li><a class="dropdown-item dropDown-Item" href="#">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item dropDown-Item" href="#">Salir</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 sidebar">
                <div class="d-flex flex-column flex-shrink-0 text-bg-dark">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
       
    </div>

    <footer class="my-4 mx-5 p-3" >


        @* Aqui va la línea separadora *@
        <div class="border-bottom container-fluid"></div>


        @* Parte de abajo del footer *@

        <div class="container mt-3">

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div>
                        <h5>Compañía</h5>
                        <ul class="list-unstyled">
                            <li> <a href="#">Todos los productos</a></li>
                            <li><a href="#">Mi carrito</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div>
                        <h5>Tienda</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Tarjetas de video</a></li>
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Almacenamiento</a></li>
                            <li><a href="#">RAMS</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col d-flex justify-content-center">
                    <div>
                        <h5>Sobre Nosotros</h5>
                        <a href="#">Sobre nosotros</a>
                    </div>

                </div>
            </div>

        </div> 
            
            
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


