@model List<Articulo>



<section class="section banner banner-section ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img class="banner-image img-fluid" src="img/AudifonoHeader.png" alt="banner">
            </div>
            <div class="col-md-6">
                <div class="banner-inner">
                    <h1 class="display-4">Bienvenido a Navatech</h1>
                    <p class="lead">
                        Enjoy award-winning stereo beats with wireless listening freedom and sleek,
                        streamlined with premium padded and delivering first-rate playback.
                    </p>
                    <a href="#" class="btn btn-outline-light btnVer border-1 rounded-0">Ver Productos</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="my-5">
    <div class="container">
        <div class="text-white">
            <h4>Categorias</h4>
            <div class="categorias-slider swiper">
                <div class="d-flex ">
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="outer">
                <div class="dot"></div>
                <div class="card">
                    <div class="ray"></div>
                    <div class="text">750k</div>
                    <div>Views</div>
                    <div class="line topl"></div>
                    <div class="line leftl"></div>
                    <div class="line bottoml"></div>
                    <div class="line rightl"></div>
                </div>
            </div>

            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="my-5 p-4 align-items-center text-center">
                        <h5>Nuevo Producto</h5>
                        <h3>Novedadas</h3>
                        <div class="mt-4">
                            <a href="#" class="btn btn-outline-light btnVer border-1 rounded-0">Ver Productos</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="my-5">
        <div class="container">
            <h4 class="text-white mb-4">Productos</h4>
            <div class="row">
            @foreach (var articulo in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card rounded-0">
                        <div class="card mx-3 mt-3 rounded-0">
                            <a href="#">
                                <img src="data:image;base64,@Convert.ToBase64String(@articulo.Imagen.Imagen1)" alt="@articulo.Nombre" class="img-fluid w-100" style="height: 260px;">
                            </a>
                        </div>
                        <a href="#" class="btn btnAnadir border-0 rounded-0 text-white mx-3">+ Añadir al carrito</a>
                        <div class="m-0 my-4 mx-3 text-white">
                            <h6>
                                @articulo.Nombre
                            </h6>
                            <p class="fs-5 precio">
                                ₡@articulo.Precio
                            </p>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
</div>