<div class="text-center text-white my-5">
    <h6>NavaTech</h6>
    <h1 class="d-block fw-normal">
        TIENDA <br class="d-none d-md-block"> COMPUTACIONAL
    </h1>
    <div class="mt-4">
        <a href="#" class="btn btn-outline-light btnVer border-1 rounded-0">Ver Productos</a>
    </div>
</div>

<div class="my-5">
    <div class="container">
        <div class="text-white">
            <h4>Categorias</h4>
            <div class="categorias-slider swiper">
                <div class="d-flex ">
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                    <div class="category-product-top">
                        <a href="" class="category-card flex-card" tabindex="0">
                            <img src="" alt="prueba">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="my-5 p-4 align-items-center text-center">
                        <h5>Nuevo Producto</h5>
                        <h3>Novedadas</h3>
                        <div class="mt-4">
                            <a href="#" class="btn btn-outline-light btnVer border-1 rounded-0">Ver Productos</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-6 col-md-6">
                <div class="card">
                    <div class="my-5 p-4 align-items-center text-center">
                        <h5>Nuevo Producto</h5>
                        <h3>Novedadas</h3>
                        <div class="mt-4">
                            <a href="#" class="btn btn-outline-light btnVer border-1 rounded-0">Ver Productos</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="my-5">
    <div class="container">
        <h4 class="text-white">Productos</h4>
        <div class="row">
            <div class="col-3 ">
                <div class="card rounded-0" style="border-color:#707070">
                    <div class="card p-4 mx-3 mt-3 text-center align-items-center rounded-0" style="background-color:aliceblue; height:200px">
                        <div class="img-fluid">
                            <img src="" alt="prueba">
                        </div>
                    </div>
                    <a href="#" class="btn btnAñadir border-0 rounded-0 text-white mx-3" style="background-color:#262626">+ Añadir al carrito</a>
                    <div class="text-start m-0 my-4 mx-3 text-white">
                        <h6>
                            Laptop
                        </h6>
                        <p class="fs-5 precio">
                            $19.00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>