<div class="my-5  " style="background-color:dimgray">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-6">
                <p>Sobre nosotros</p>
                <p>
                    ¡Bienvenidos a Navatech, tu destino definitivo para soluciones tecnológicas avanzadas! Desde nuestra fundación, hemos estado comprometidos con la misión de proporcionar a nuestros clientes acceso a las últimas innovaciones en tecnología informática. Con años de experiencia en la industria, Navatech se ha ganado la reputación de ser un líder confiable en el mercado de productos de computación.
            </div>

            <div class="col-6">
                <div class="row m-5 p-5">
                    <div class="col">
                        <img src="..." alt="a" class="rounded-circle">
                    </div>

                    <div class="col">
                        <img src="..." alt="a" class="rounded-circle">
                    </div>
                    <div class="col">
                        <img src="..." alt="a" class="rounded-circle">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid divBack p-4 ">

    <div class="">

        <div class="row ">

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">Envio Gratis</p>
            </div>

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">Compras Seguras</p>
            </div>

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">24/7</p>
            </div>

        </div>






    </div>





</div>

