<div class="my-5 migajas">
	<div class="container ">
		<div class="my-5 align-items-center">
			<div class="py-5">
				<p>Inicio / <span>Sobre Nosotros</span></p>
				<h1>Todos los productos</h1>
			</div>
		</div>
	</div>
</div>

<div class="my-5">
	<div class="container d-flex justify-content-center categorias">
			<ul class="d-flex m-0 justify-content-between list-unstyled">
				<li class="dropdown ">
					<a href="#" class="btn rounded-0">Computadoras</a>
				<ul class="dropdown-menu rounded-0">
						<li><a href="#" class="sub_categoria">Subcategoría 1</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 2</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 3</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="btn rounded-0">Perifericos</a>
					<ul class="dropdown-menu rounded-0">
						<li><a href="#" class="sub_categoria">Subcategoría 1</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 2</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 3</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="btn rounded-0">Accesorios</a>
					<ul class="dropdown-menu rounded-0">
						<li><a href="#" class="sub_categoria">Subcategoría 1</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 2</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 3</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="btn rounded-0">Componentes</a>
					<ul class="dropdown-menu rounded-0">
						<li><a href="#" class="sub_categoria">Subcategoría 1</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 2</a></li>
						<li><a href="#" class="sub_categoria">Subcategoría 3</a></li>
					</ul>
				</li>
			</ul>
	</div>
</div>


<div class="my-5">
	<div class="img-fluid" style="background-color:darkgrey; height:300px">
		<img src="" alt=""></img>
	</div>
</div>


<div class="my-5">
	<div class="container">
		<h4 class="text-white">Productos</h4>
		<div class="row">
			<div class="col-3 ">
				<div class="card rounded-0" style="border-color:#707070">
					<div class="card p-4 mx-3 mt-3 text-center align-items-center rounded-0" style="background-color:aliceblue; height:200px">
						<div class="img-fluid">
							<img src="" alt="prueba">
						</div>
					</div>
					<a href="#" class="btn btnAñadir border-0 rounded-0 text-white mx-3" style="background-color:#262626">+ Añadir al carrito</a>
					<div class="text-start m-0 my-4 mx-3 text-white">
						<h6>
							Laptop
						</h6>
						<p class="fs-5 precio">
							$19.00
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


