:root {
    --grisClaro: #8B8B8c;
    --blancoHueso: #F2F2F2;
    --grisMedio: #404040;
    --grisOscuro: #262626;
    --negro: #0D0D0D;
    --rojo: #E14848;
}

body {
    background-color: var(--grisOscuro);
    color: var(--blancoHueso);
}



a {
    color: var(--blancoHueso) !important;
    text-decoration: none;
}

a:hover {
    color: var(--rojo) !important;
}

.logo {
    color: var(--blancoHueso)
}

    .logo:hover {
        color: var(--rojo)
    }

.header {
    background-color: var(--grisOscuro);
}

.nav-link {
    color: var(--blancoHueso);
}

    .nav-link:hover {
        color: var(--rojo);
    }

.navbar-toggler {
    color: var(--blancoHueso);
}

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .12rem;
    }

.btnVer {
    height: 44px;
    width: 170px;
    align-content: center;
}


.btnAñadir {
    width: 100%;
    height: 10px;
}

.card {
    background-color: var(--grisMedio);
    color: var(--blancoHueso);
}

.precio {
    color: var(--rojo);
}
