:root {
    --blancoHueso: #F2F2F2;
    --grisMedio: #3E3E3E;
    --grisOscuro: #262626;
    --negro: #0D0D0D;
    --rojo: #E14848;
}

body {
    background-color: var(--negro);
    color: var(--blancoHueso);
}


a {
    color: var(--blancoHueso) !important;
    text-decoration: none;
}

a:hover {
    color: var(--rojo) !important;
}

.logo {
    color: var(--blancoHueso)
}

    .logo:hover {
        color: var(--rojo)
    }

.header {
    background-color: var(--negro);
}

.migajas {
    background-color: var(--grisOscuro);
}

.migajas span {
    color: var(--rojo);
}

.nav-link {
    color: var(--blancoHueso);
}

    .nav-link:hover {
        color: var(--rojo);
    }

    .nav-link:focus {
        color: var(--rojo);
        box-shadow: none;
        box-shadow: 0 0 20px var(--rojo);
    }



.navbar-toggler {
    color: var(--blancoHueso);
}

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .12rem;
    }

.btnVer {
    height: 44px;
    width: 170px;
    align-content: center;
}


.btnAnadir {
    background-color: var(--negro);
}

.card {
    background-color: var(--grisOscuro);
    color: var(--blancoHueso);
}

.precio {
    color: var(--rojo);
}


.dropDown {
    background-color: var(--rojo);
}

.dropDown-Item {
    color: var(--negro) !important;
}

    .dropDown-Item:hover {
        background-color: var(--grisMedio) !important;
        color: var(--blancoHueso) !important;
    }


.categorias {
    border: 1px solid;
}

.dropdown {
    position: relative;
    text-align: center; /* Centra el contenido dentro del <li> */
    margin: 0 10px; /* Añade margen entre los elementos */
}

    .dropdown .btn {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .dropdown:hover .btn {
        box-shadow: 0 0 20px var(--rojo);
        color: var(--rojo);
    }

    .dropdown .btn:focus {
        box-shadow: 0 0 20px var(--rojo);
        color: var(--rojo);
    }


/* Estilos para el menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--negro);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.sub_categoria {
    color: var(--grisOscuro) !important;
}

.dropdown-menu li {
    padding: 10px;
}

    .dropdown-menu li:hover {
        background-color: var(--grisMedio);
        
    }



/* Mostrar el menú desplegable al pasar el mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}