:root {
    --blancoHueso: #F2F2F2;
    --grisMedio: #3E3E3E;
    --grisOscuro: #262626;
    --negro: #0D0D0D;
    --rojo: #E14848;
}

body {
    background-color: var(--negro);
    color: var(--blancoHueso);
}


a {
    color: var(--blancoHueso) !important;
    text-decoration: none;
}



.logo {
    color: var(--blancoHueso)
}

    .logo:hover {
        color: var(--rojo)
    }

.header {
    background-color: var(--negro);
}

.migajas {
    background-color: var(--grisOscuro);
}

.migajas span {
    color: var(--rojo);
}

.nav-link {
    color: var(--blancoHueso);
}

    .nav-link:hover {
        color: var(--rojo);
    }

    .nav-link:focus {
        color: var(--rojo);
        box-shadow: none;
        box-shadow: 0 0 20px var(--rojo);
    }



.navbar-toggler {
    color: var(--blancoHueso);
}

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .12rem;
    }

.btnVer {
    height: 44px;
    width: 170px;
    align-content: center;
}


.btnAnadir {
    background-color: var(--negro);
}

.card {
    background-color: var(--grisOscuro);
    color: var(--blancoHueso);
}

.precio {
    color: var(--rojo);
}


.dropDown {
    background-color: var(--rojo);
}

.dropDown-Item {
    color: var(--negro) !important;
}

    .dropDown-Item:hover {
        background-color: var(--grisMedio) !important;
        color: var(--blancoHueso) !important;
    }


.categorias {
    border: 1px solid;
}

.dropdown {
    position: relative;
    text-align: center; /* Centra el contenido dentro del <li> */
    margin: 0 10px; /* Añade margen entre los elementos */
}

    .dropdown .btn {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .dropdown:hover .btn {
        box-shadow: 0 0 20px var(--rojo);
        color: var(--rojo);
    }

    .dropdown .btn:focus {
        box-shadow: 0 0 20px var(--rojo);
        color: var(--rojo);
    }


/* Estilos para el menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--negro);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.sub_categoria {
    color: var(--grisOscuro) !important;
}

.dropdown-menu li {
    padding: 10px;
}

    .dropdown-menu li:hover {
        background-color: var(--rojo);
        border-radius: 10px;
    }

    .dropdown-menu li:hover a {
        color: var(--negro) !important;
    }




/* Mostrar el menú desplegable al pasar el mouse */
.dropdown:hover .dropdown-menu {
    display: block;
}


/*Esto es lo nuevo*/
/*Tablas en Admin*/

table th {
    background-color: var(--grisMedio);
}



/*Sidebar menu*/

.admin-menu {
    border-radius: 10px;
    background-color: var(--grisOscuro);
}

    .admin-menu li:hover {
        background-color: var(--rojo); 
        border-radius: 10px;
    }

    .admin-menu li:hover a  {
        color: var(--negro) !important;
    }


/*--Formulario---*/

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

    .get-in-touch .title {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 3.2em;
        line-height: 48px;
        padding-bottom: 48px;
        color: var(--rojo);
        background: var(--rojo);
        background: -moz-linear-gradient(left,var(--rojo) 0%,var(--negro) 100%) !important;
        background: -webkit-linear-gradient(left,var(--rojo) 0%,var(--negro) 100%) !important;
        background: linear-gradient(to right,var(--rojo) 0%,var(--negro) 100%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: var(--grisOscuro);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: var(--negro)
}

    .contact-form .input-text:focus {
        outline: none;
        background-color: var(--negro)
    }

        .contact-form .input-text:focus + .label,
        .contact-form .input-text.not-empty + .label {
            -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
        }

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,var(--rojo),var(--grisMedio));
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

  